/* -------------------*
*      DEFAULT       *
*------------------- */

/* background page color
----------------------------------------- */
body,
main { background-color:#f4f4f4; }
.page { background-color:#212225; }

/* text color
----------------------------------------- */
body,
.tags-list a,
ul.category-list li a,
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5,
.h2 a, .h3 a, .h4 a, .h5 a,
h2 a, h3 a, h4 a, h5 a, .meta-info a { color:#525252; }

/* border color
----------------------------------------- */
.border { border-color:#e9e9e9; }
.img-border { border-color:#b8b8b8; }

/* blockquote
----------------------------------------- */
blockquote { background:#fafafa url(../images/layout/icon-quote-left.png) no-repeat 20px 35px; }

/* header
----------------------------------------- */
header,
header .navigation .navbar.navbar-default,
main .box,
.jumbotron,
.stars span { background-color:#fff; }

/* navigation
----------------------------------------- */
header .navigation { background-color:#212121; }
header .navbar-toggle:hover { background:none !important; }
header .navbar-toggle:hover span { background:#fff !important; }

header .navbar nav > ul.nav > li > a { color:#fff!important; }
header .navbar nav > ul.nav > .open > a,
header .navbar nav > ul.nav > li.active > a,
header .navbar nav > ul.nav > li > a:focus,
header .navbar nav > ul.nav > li > a:hover { color:#fff; background:#000; }
header .navbar nav > ul.nav .caret { color:#c1c1c1; }

header .navbar .dropdown-menu { background-color:#333; }
header .navbar .dropdown-menu li { border-color:#696969; }
header .navbar .dropdown-menu li a { color:#fff; }
header .navbar .dropdown-menu li a:hover { background-color:#212121; }

.navbar-collapse { border-color:#333 !important; }

/* jumbotron
----------------------------------------- */
.jumbotron aside { border-color:#f2f2f2; }

/* content
----------------------------------------- */
.content .box { border-color:#ececec; }

/* aside
----------------------------------------- */
aside .aside-title { color:#212121; }

/* social icons
----------------------------------------- */
.social-icons a { border-color:#000; }
.social-icons a:hover { background:#000; }
.social-icons.inverse-icons a { border-color:#fff; }
.social-icons.inverse-icons a:hover { background:#fff; }
.detail-box .social-icons a { border-color:#767676 !important; background-color:#767676; }

/* more box (pagination)
----------------------------------------- */
.more-box .btn.btn-border {  border-color:#ccc; color:#939292; }
.more-box .btn.btn-border:hover { background-color:#ccc; }

/* tooltip
----------------------------------------- */
.tooltip .tooltip-inner { color:#212121; background-color:#fdffbd; }
.tooltip.bottom .tooltip-arrow { border-bottom-color:#fdffbd; }
.tooltip.top .tooltip-arrow { border-top-color:#fdffbd; }

/* reviews table
----------------------------------------- */
.reviews-table th,
.reviews-table td,
.reviews-table td:last-child { border-color:#e9e9e9; }
.reviews-table .btn-divider { border-color:#cecece; }

/* border box
----------------------------------------- */
.border-box { border-color:#efefef; }

/* comments
----------------------------------------- */
.comments-form,
.comments-list .comment { border-color:#e9e9e9; }

/* slider
----------------------------------------- */
.slider-nav a { background-color:#767676; }
.slider-nav a:hover { background-color:#000; }

/* advantages / disadvantages
----------------------------------------- */
.box-advantages { background:#f3ffed; border-color:#5ba835; }
.box-disadvantages { background:#ffe8e7; border-color:#f12b24; }

/* forms
----------------------------------------- */
.form-control { border-color:#e9e9e9; }
.form-control:hover { border-color:#ddd; }
.form-control:focus { border-color:#66afe9; }

.btn-black { background:#000; color:#fff; }
.btn-black:hover { background:#222; color:#fff; }

/* footer
----------------------------------------- */
footer { background-color:#27282c; }
footer .footer-copy { background-color:#212225; color:#fff; }
footer .navbar-brand small,
footer .navbar-brand strong,
footer .footer-links { color:#fff; }