/* -------------------*
 *       RESET        *
 *------------------- */

button {
  width: auto;
  padding: 0;
  overflow: visible;
  cursor: pointer;
  line-height: normal !important;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: -1px 0 0 0;
}

button:active {
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
}


/* -------------------*
 *       GLOBAL       
 *------------------- */

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.jumbotron .container, .container {
  max-width: 970px;
}

.page {
  min-height: 100%;
}

table {
  width: 100%;
  margin-bottom: 10px;
}

.img-left {
  float: left;
  margin: 2px 20px 15px 0;
}

.img-right {
  float: right;
  margin: 2px 0 15px 20px;
}

.img-border {
  border: 2px solid transparent;
}


/* headlines
----------------------------------------- */

h1 {
  margin: 0 0 10px 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  display: block;
}

.border {
  border-bottom: 1px solid transparent;
  padding-bottom: 10px;
  margin-bottom: 15px;
}


/* clear 
----------------------------------------- */

.clear {
  clear: both;
}


/* -------------------*
 *       LAYOUT       *
 *------------------- */


/* logo
---------------------------------------- */

.navbar-brand {
  margin-right: 0;
  padding: 10px 15px;
  max-height: 170%;
}

.navbar-brand i {
  width: 40px;
  height: 40px;
  float: left;
  margin: -8px 10px 0 0;
  background-image: url(../images/content/brand-icon.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.navbar-brand strong {
  font-size: 35px;
  font-weight: 500;
  color: #222121;
}

.navbar-brand small {
  font-size: 15px;
  display: block;
  float: right;
  line-height: 1em;
  margin: -3px 0 0 15px;
  text-transform: uppercase;
  color: #212121;
  padding-left: 10px;
  border-left: 1px solid #bbb;
}


/* header
---------------------------------------- */

header {
  border-top: 4px solid transparent;
}

header .navbar-header {
  width: 100%;
  padding: 35px 0;
}

header .navbar.navbar-default {
  border: 0;
  background: none;
  margin: 0;
}

header .navbar-toggle {
  border: 0;
  border-radius: 0;
  margin-right: 0;
}

header .search-form {
  width: 270px;
  float: right;
}

header .navbar-text {
  width: 330px;
  float: left;
  text-align: center;
  position: absolute;
  top: 33px;
  left: 50%;
  margin: 0 0 0 -150px;
}

header .navbar-text strong {
  display: block;
}

header .navbar-collapse {
  padding: 0;
}

header .navbar nav > ul.nav > li > a {
  padding: 20px 5px;
  white-space: nowrap;
  border-radius: 0;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

header .navbar nav > ul.nav .caret {
  display: inline-block;
  margin-left: 6px;
}

header .navbar nav > ul ul {
  display: none;
  border: 0;
  margin: 0;
  border-radius: 0;
  padding: 0;
}

header .navbar li.open .dropdown-menu {
  display: block;
}

header .navbar .dropdown-menu li {
  border-top: 1px solid transparent;
}

header .navbar .dropdown-menu li:first-child {
  border-top: 0;
}

header .navbar .dropdown-menu li a {
  padding: 10px 15px;
}


/* jumbotron
---------------------------------------- */

.jumbotron {
  padding: 30px 0;
  margin: 0;
}

.jumbotron .jumbotron-title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin: 0 0 30px 0;
}

.jumbotron p {
  font-size: 14px;
}


/* main
---------------------------------------- */

main {
  padding: 20px 0;
}

main .box {
  padding: 12px;
  margin-bottom: 15px;
}


/* content
---------------------------------------- */

.content {
  width: 620px;
  padding-right: 15px;
  float: left;
}

.content.full-width {
  width: 100%;
}

.content .box {
  border-bottom: 3px solid transparent;
  padding: 0;
  position: relative;
}

.content .box-offset {
  padding: 15px;
  clear: both;
}

.content ul {
  padding-left: 0;
  list-style: none;
}

.content ul li {
  padding-left: 15px;
  background: url(../images/layout/icon-bullet.png) no-repeat 0 8px;
}

.content ul.list-unstyled li {
  background: none;
}

blockquote {
  padding: 30px 20px 30px 65px;
  border: 0;
  margin: 0 -15px 20px -15px;
}

blockquote p {
  padding-right: 40px;
  background: url(../images/layout/icon-quote-right.png) no-repeat bottom right;
}

blockquote cite {
  float: right;
  padding-right: 40px;
}


/* aside
---------------------------------------- */

aside {
  width: 300px;
  margin: 0;
  padding: 0;
  float: right;
}

aside .aside-title {
  margin-bottom: 10px;
  display: block;
  text-align: center;
}

aside .html_widget h5 {
  margin-top: 0;
}

aside .html_widget p {
  margin: 0;
}

aside ul {
  padding: 0;
}


/* video box
---------------------------------------- */

.video-box iframe {
  width: 100%;
  border: 0;
}

.content .video-box {
  margin-bottom: 30px;
}


/* producer-box
---------------------------------------- */

.producer-box {
  padding-bottom: 20px;
}


/* articles slider box
---------------------------------------- */

.articles-slider {
  width: 100%;
  overflow: hidden;
  margin: 0 0 30px 0;
}

.articles-slider-in {
  width: 10000px;
}

.articles-slider-out {
  position: relative;
}

.articles-slider-box h4 {
  font-weight: 700;
  text-transform: uppercase;
}

.articles-slider-box .product-box {
  padding-right: 15px;
}

.articles-slider-box .product-box .product-img {
  left: 0 !important;
}

.articles-slider-box .product-box-info .stars {
  margin: 3px 0 6px 0;
}

.articles-slider-box .product-box:nth-child(even) {
  padding: 0 0 0 15px;
}

.articles-slider-box .product-box:nth-child(even) {
  border-left: 1px solid #f2f2f2;
}

.articles-slider-box .product-box:nth-child(even) .product-box-info {
  /*padding: 0 145px 0 0;*/
}

.articles-slider-box .product-box:nth-child(even) .product-img {
  left: auto !important;
  right: 5px;
}

.articles-slider-box .product-box h5, .articles-slider-box .product-box .h4 {
  margin: 0;
}

.articles-slider-box .product-box p {
  margin-bottom: 0px !important;
}

.articles-slider-box .product-box {
  width: 300px;
  float: left;
}

.articles-slider-box .product-box.product-box-sm .product-box-info {
  /*min-height: 85px;*/
}

.articles-slider-box .product-box.product-box-sm .product-img img {
  max-height: 110px;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
}

.slider-nav a {
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  position: absolute;
  top: 40px;
  z-index: 40;
}

.slider-nav a.slider-next {
  right: -10px;
  background-image: url(../images/layout/icon-arrow-right.png);
}

.slider-nav a.slider-prev {
  left: -10px;
  background-image: url(../images/layout/icon-arrow-left.png);
}


/* footer
---------------------------------------- */

footer .container {
  position: relative;
}

footer .footer-links {
  padding: 50px 0;
}

footer .footer-text {
  width: 290px;
  text-align: center;
  float: left;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -115px;
}

footer .footer-copy {
  text-align: center;
  padding: 35px 0;
}

footer .footer-copy .divider {
  display: inline-block;
  margin: 0 3px;
  opacity: 0.6;
}


/* detail box
---------------------------------------- */

.detail-img {
  position: relative;
}

.detail-img img {
  height: auto;
  width: auto;
  max-width: 100%;
}


/* product box
---------------------------------------- */

.product-box .product-box-info {
  /* min-height: 187px;
   padding: 15px 15px 0px 300px;*/
  /*padding: 15px 15px 0 15px;*/
  position: relative;
}

.product-box h2, .product-box .h2, .product-box h3, .product-box .h3, .product-box h4, .product-box .h4 {
  margin: 0 0 15px 0;
}

.box .product-box h4, .box .product-box .h4 {
  margin-top: 15px;
}

.box .product-box .product-box-info h4, .box .product-box .product-box-info .h4 {
  margin: 0px;
}

.product-box .product-img {
  /*position: absolute;
  top: 0;
  left: 0;*/
  position: relative;
  height: 100%;
  display: block;
  text-align: center;
}

.product-box .stars {
  margin: 5px 0 0;
}

.product-box .product-img img {
  max-width: 100%;
  width: auto;
  height: auto;
  margin: 0 auto;
}

.product-box-info p {
  margin-bottom: 15px;
}

.product-box.product-box-lg .product-img img {
  max-height: 310px;
}

.product-box.product-box-sm .product-img img {
  max-height: 140px;
}

.box .product-box .product-img img {
  max-height: 170px;
}

.detail-img .label, .product-box .product-img .label {
  position: absolute;
  padding: 8px 15px;
  bottom: 0;
  left: 0;
  border-radius: 0;
  display: block;
}

.product-box.product-box-lg .product-box-info {
  /*min-height: 280px;
  padding-left: 370px;*/
  padding-top: 0;
  padding-bottom: 0;
}

.product-box.product-box-lg .label {
  padding: 10px 20px;
}

.product-box.product-box-sm .product-box-info {
  /*min-height: 125px;*/
  /*padding: 0 0 0 145px;*/
}

.product-box.product-box-sm .product-img {
  /*left: 5px;*/
}

.product-box.product-box-sm p {
  line-height: 1.3em;
  margin-bottom: 15px;
}

.product-box.product-box-sm .label {
  padding: 5px 8px;
}

.jumbotron .product-box.product-box-sm .stars {
  /*position: absolute;
  top: 100px;
  left: 10px;*/
}

aside .product-box.product-box-sm .stars {
  /*position: absolute;
  top: 90px;
  left: 10px;*/
}

aside .product-box.product-box-sm p {
  margin: 0;
}

.jumbotron .product-box.product-box-sm p {
  margin: 0 0 15px 0;
}

aside .product-box.product-box-sm .stars {
  /*position: relative;
  top: auto;
  left: auto;
  margin: 0;
  padding: 0;*/
}

aside .product-box.product-box-sm .product-box-info {
  min-height: 95px;
}

aside .product-box.product-box-sm .product-box-info h5, aside .product-box.product-box-sm .product-box-info .h4 {
  margin: 0 0 15px 0;
}

aside .product-box.product-box-sm .product-box-info p {
  margin-bottom: 15px;
}

.product-box .row {
  /*margin: 0 -7px;*/
}

.product-box .col-sm-6 {
  /*padding: 0 7px;*/
}

.jumbotron aside {
  width: 310px;
  padding-left: 15px;
  border-left: 1px solid transparent;
}

.jumbotron aside .product-box-sm {
  margin-bottom: 25px;
}

.jumbotron aside .product-box-sm:last-child {
  margin-bottom: 0;
}

.stars {
  /*width: 95px;
  height: 17px;
  margin: 5px 0 5px 0;
  background: url(../images/layout/stars.png) no-repeat top left;*/
}

.stars span {
  /*width: 0px;
  height: 17px;
  display: block;
  background: url(../images/layout/stars.png) no-repeat bottom left;*/
}

.stars.star1 span {
  width: 18px;
}

.stars.star2 span {
  width: 36px;
}

.stars.star3 span {
  width: 57px;
}

.stars.star4 span {
  width: 76px;
}

.stars.star5 span {
  width: 95px;
}

.stars.stars-sm {
  width: 69px;
  height: 12px;
  margin: 5px 0 5px 0;
  background: url(../images/layout/stars-small.png) no-repeat bottom left;
}

.stars.stars-sm span {
  width: 13px;
  height: 12px;
  display: block;
  background: url(../images/layout/stars-small.png) no-repeat top left;
}

.stars-sm.star1 span {
  width: 13px;
}

.stars-sm.star2 span {
  width: 27px;
}

.stars-sm.star3 span {
  width: 41px;
}

.stars-sm.star4 span {
  width: 55px;
}

.stars-sm.star5 span {
  width: 69px;
}

.product-box-icons {
  padding: 15px 5px;
}

.product-box-icons img {
  margin: 0 15px;
}

.product-box-icons i {
  margin: 0 15px;
  color: #000;
  font-size: 25px;
}


.product-box-lg .stars {
  /*width: 127px;
  height: 22px;
  margin: 8px 0 8px 0;*/
  /*position: absolute;
  top: 245px;
  left: 5px;*/
  /*background: url(../images/layout/stars-large.png) no-repeat top left;*/
}

.product-box-lg .stars span {
  width: 0px;
  height: 22px;
  display: block;
  background: url(../images/layout/stars-large.png) no-repeat bottom left;
}

.product-box-lg .stars.star1 span {
  width: 24px;
}

.product-box-lg .stars.star2 span {
  width: 50px;
}

.product-box-lg .stars.star3 span {
  width: 76px;
}

.product-box-lg .stars.star4 span {
  width: 102px;
}

.product-box-lg .stars.star5 span {
  width: 127px;
}

.product-box-info .stars {
  margin-bottom: 10px;
}


/* meta-info
---------------------------------------- */

.meta-info {
  padding: 0;
  margin: 0;
}

.meta-info li {
  float: left;
  margin: 0 15px 10px 0;
  padding: 0 !important;
  list-style: none;
  background: none !important;
}

.meta-info i {
  height: 17px;
  float: left;
  margin: 0 5px 0 0;
}

.meta-info .icon-date {
  width: 16px;
  background: url(../images/layout/icon-date.png) no-repeat top left;
}

.meta-info .icon-views {
  width: 18px;
  background: url(../images/layout/icon-views.png) no-repeat top left;
}

.meta-info .icon-comments {
  width: 19px;
  background: url(../images/layout/icon-comments.png) no-repeat top left;
}


/* gallery
---------------------------------------- */

.gallery {
  margin: 0 -5px;
}

.gallery a {
  width: 33.33%;
  float: left;
  padding: 0 5px 10px 5px;
  position: relative;
}

.gallery a img {
  width: 100%;
  height: auto;
}

.gallery a:after {
  opacity: 0;
  content: '';
  width: 45px;
  height: 45px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -22px 0 0 -22px;
  background: url(../images/layout/icon-popup.png) no-repeat top left;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.gallery a:hover:after {
  opacity: 1;
}


/* border box
---------------------------------------- */

.border-box {
  padding: 10px 10px 1px 10px;
  margin-bottom: 20px;
  border: 3px solid transparent;
}

.border-box p {
  margin-bottom: 10px;
}


/* more box
---------------------------------------- */

.more-box {
  text-align: center;
  padding: 20px 0;
}

.more-box .btn.btn-border {
  padding-left: 30px;
  padding-right: 30px;
}


/* advantages / disadvantages
----------------------------------------- */

.cols-advantages {
  margin: 0 -7px;
  padding-bottom: 10px;
}

.cols-advantages .col-sm-6 {
  padding: 0 7px;
}

.cols-advantages h4 {
  margin-top: 0;
}

.cols-advantages ul {
  list-style: none;
  padding-left: 0;
}

.cols-advantages ul li {
  padding: 0 0 3px 20px;
}

.box-advantages, .box-disadvantages {
  padding: 10px 10px 1px 10px;
  margin-bottom: 10px;
  border: 3px solid transparent;
}

.box-advantages ul li {
  background: url(../images/layout/icon-advantage.png) no-repeat 0 2px;
}

.box-disadvantages ul li {
  background: url(../images/layout/icon-disadvantage.png) no-repeat 0 2px;
}


/* listing
---------------------------------------- */

ul.no-style {
  list-style: none;
  padding-left: 0;
}

ul.category-list {
  padding-left: 0;
}

ul.category-list li, .cat-item {
  list-style: none;
  padding: 2px 0 2px 15px;
  position: relative;
}

ul.category-list li:after, .cat-item:after {
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  border-left: 6px solid transparent;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}

ul.category-list ul, .cat-item ul {
  padding: 4px 0 0 0;
}

ul.contact-info li {
  padding-left: 40px;
  position: relative;
  margin-bottom: 10px;
}

ul.contact-info li img, ul.contact-info li i {
  position: absolute;
  top: 1px;
  left: 10px;
  max-width: 25px;
  max-height: 25px;
  font-size: 20px;
  color: #C1C2C2;
}


/* scroll top
---------------------------------------- */

.scroll-top {
  width: 50px;
  height: 50px;
  position: fixed;
  opacity: hidden;
  opacity: 0;
  bottom: 15px;
  margin-left: 500px;
  left: 50%;
  display: block;
  border: 3px solid #6e9958;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

body.scroll .scroll-top {
  visibility: visible;
  opacity: 1;
}

.scroll-top i {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -10px;
  border-bottom: 10px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}


/* tooltip
---------------------------------------- */

.tooltip .tooltip-inner {
  border-radius: 0;
  padding: 5px 10px;
}


/* tabs list
---------------------------------------- */

.tags-list, .tagcloud {
  text-align: justify;
}

.tags-list a, .tagcloud a {
  line-height: 1.1em;
}


/* reviews tables
---------------------------------------- */

.reviews-table {
  width: 100%;
  border-top: 3px solid transparent;
}

.reviews-table th {
  text-align: center;
  padding: 5px 0 5px 10px;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

.reviews-table td {
  border-bottom: 3px solid transparent;
  padding: 5px 10px;
}

.reviews-table td:last-child {
  border-right: 3px solid transparent;
}

.reviews-table h5 {
  margin: 0 0 5px 0;
}

.reviews-table .stars {
  margin: 0;
}

.reviews-table .btn-divider {
  display: block;
  padding: 5px 15px;
  border-left: 1px solid transparent;
}

.reviews-table .btn {
  text-transform: uppercase;
  text-align: center;
}


/* buttons
---------------------------------------- */

.btn, .wp-social-login-provider {
  padding: 8px 10px;
  border: 0;
  border-radius: 0;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.btn.btn-border {
  padding: 6px 8px;
  background: transparent!important;
}

.btn.btn-md {
  padding: 10px;
}

.btn.btn-lg {
  padding: 12px 40px 10px 40px;
}

.btn-border-bottom {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.btn-border-bottom.btn-lg {
  border-bottom-width: 4px;
}

.btn-fb, .wp-social-login-provider-facebook {
  background: #3f5e9e;
  color: #fff;
  text-align: left;
  position: relative;
  padding-left: 35px;
}

.btn-fb {
  background: #3f5e9e;
  color: #fff;
  text-align: left;
  position: relative;
  padding-left: 35px;
}

.btn-fb:hover, .wp-social-login-provider-facebook:hover {
  background: #2c4b8b;
  color: #fff;
}

.btn-fb i, .wp-social-login-provider-facebook i {
  width: 22px;
  height: 22px;
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  background: url(../images/layout/icons-social.png) no-repeat top left;
}


/* social icons
---------------------------------------- */

.social-icons {
  font-size: 0px;
  text-align: center;
}

footer .social-icons {
  float: right;
}

.social-icons a {
  width: 44px;
  height: 44px;
  color: #000;
  border: 2px solid transparent;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  margin: 5px 0 5px 10px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  position: relative;
}

.social-icons a:hover {
  background: #000;
  color: #fff;
}

.social-icons a i {
  width: 22px;
  height: 22px;
  font-size: 22px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.share-buttons-custom.social-icons a  {
  cursor: pointer;
}

.share-buttons-custom.social-icons a i {
  width: 22px;
  height: 22px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -11px 0 0 -11px;
  background: url(../images/layout/icons-social.png) no-repeat top left;
}

.social-icons a.social-facebook i {
  background-position: 0 -22px;
}

.social-icons a.social-pinterest i {
  background-position: -22px -22px;
}

.social-icons a.social-linkedin i {
  background-position: -44px -22px;
}

.social-icons a.social-twitter i {
  background-position: -66px -22px;
}

.social-icons a.social-google i {
  background-position: -88px -22px;
}

.social-icons a.social-facebook:hover i {
  background-position: 0 0px;
}

.social-icons a.social-pinterest:hover i {
  background-position: -22px 0px;
}

.social-icons a.social-linkedin:hover i {
  background-position: -44px 0px;
}

.social-icons a.social-twitter:hover i {
  background-position: -66px 0px;
}

.social-icons a.social-google:hover i {
  background-position: -88px 0px;
}

.social-icons.inverse-icons a.social-facebook i {
  background-position: 0 0;
}

.social-icons.inverse-icons a.social-pinterest i {
  background-position: -22px 0;
}

.social-icons.inverse-icons a.social-linkedin i {
  background-position: -44px 0;
}

.social-icons.inverse-icons a.social-twitter i {
  background-position: -66px 0;
}

.social-icons.inverse-icons a.social-google i {
  background-position: -88px 0;
}

.social-icons.inverse-icons a.social-facebook:hover i {
  background-position: 0 -22px;
}

.social-icons.inverse-icons a.social-pinterest:hover i {
  background-position: -22px -22px;
}

.social-icons.inverse-icons a.social-linkedin:hover i {
  background-position: -44px -22px;
}

.social-icons.inverse-icons a.social-twitter:hover i {
  background-position: -66px -22px;
}

.social-icons.inverse-icons a.social-google:hover i {
  background-position: -88px -22px;
}

.social-icons.inverse-icons a {
  color: #fff;
  border-color: #fff;
}

.social-icons.inverse-icons a:hover {
  background: #fff;
  color: #000;
}

.detail-box .social-icons {
  width: 40px;
  position: absolute;
  z-index: 40;
  top: 148px;
  left: -60px;
}

.detail-box .social-icons a {
  width: 40px;
  height: 40px;
  margin: 1px 0;
  border-radius: 0;
}

.detail-box .stars {
  margin-bottom: 15px;
  display: block;
}


/* search form
---------------------------------------- */

.search-form, .searchform {
  padding: 0;
  position: relative;
}

.searchform label {
  display: none;
}

.searchform input[type="text"] {
  width: 100%;
  height: 40px;
  border: 3px solid transparent;
  border-radius: 0;
  box-shadow: none !important;
  outline: none !important;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: block;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  border-color: #e9e9e9;
}

.searchform input[type="text"]:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.searchform input[type="submit"] {
  width: 20px;
  height: 20px;
  background: url("../images/layout/icon-search.png") no-repeat;
  border: 0;
  box-shadow: none;
  position: absolute;
  top: 10px;
  right: 11px;
  text-indent: -9999px;
}

.search-form .form-control, .searchform .form-control {
  width: 100%;
  padding-right: 35px;
}

.search-btn {
  width: 20px;
  height: 20px;
  background: url("../images/layout/icon-search.png") no-repeat;
  border: 0;
  box-shadow: none;
  position: absolute;
  top: 10px;
  right: 11px;
  text-indent: -9999px;
}

.search-form .search-btn, .searchform .search-btn {
  position: absolute;
  top: 10px;
  right: 11px;
}

.form-newsletter .form-group {
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  height: 40px;
  border: 3px solid transparent;
  border-radius: 0;
  box-shadow: none !important;
  outline: none !important;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

textarea.form-control {
  resize: vertical;
}


/* comments
---------------------------------------- */

.comments-form {
  padding-bottom: 15px;
  border-bottom: 1px solid transparent;
  margin-bottom: 15px;
}

.comments-form input.form-control {
  height: 35px;
}

.comments-list, .comments-list ul, .comments-list .meta-info, .comments-list ul .meta-info {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.comments-list li, .comments-list ul li, .comments-list .meta-info li, .comments-list ul .meta-info li {
  background: 0 !important;
}

.comments-list .comment {
  padding-bottom: 0px;
  margin-bottom: 15px;
  border-bottom: 1px solid transparent;
}

.comments-list .comment ul .comment {
  border-bottom: 0px solid transparent;
}

.comments-list .comment-name {
  line-height: 1em;
  font-weight: 500;
}

.comments-list .comment-text {
  padding-left: 24px;
}

.comments-list .table-stars th {
  width: 135px;
}

.comment-awaiting-moderation {
  margin: 15px 0;
  display: block;
}

.comment-edit {
  padding: 10px;
  background: #fafafa;
  margin-bottom: 15px;
}


/* fancybox
---------------------------------------- */

html.fancybox-lock body, html.fancybox-lock {
  width: 100% !important;
  overflow: visible !important;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
}

#fancybox-lock div {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
}


/* box 404
---------------------------------------- */

.content .box-404 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 80px;
}

.box-404 h1 {
  font-size: 175px;
  line-height: 1em;
  font-weight: 400;
  color: #f12b24;
}

.box-404 p {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 40px;
}

.box-404 p i {
  width: 19px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  margin: -2px 3px 0 0;
  background: url(../images/layout/icon-warning.png) no-repeat top left;
}

.box-404 .btn {
  padding-left: 20px;
  padding-right: 20px;
}


/* settings box
---------------------------------------- */

.settings-box {
  position: fixed;
  top: 200px;
  right: 0;
  width: 0px;
}

.settings-box.open-settings {
  width: 180px;
}

.settings-box .settings-header {
  font-size: 16px;
  padding: 0 12px;
  line-height: 40px;
  color: #fff;
  background: #262626;
  position: relative;
}

.settings-box .btn-setting {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  right: 100%;
  top: 0;
  background: #262626 url(../images/layout/icon-settings.png) no-repeat center center;
}

.settings-box .btn-setting:hover {
  background-color: #000;
}

.settings-box .settings-content {
  width: 180px;
  padding: 12px;
  color: #fff;
  background: #333;
}

.settings-box .settings-content a {
  color: #a5a5a5;
}

.settings-box .settings-item {
  padding-top: 5px;
  border-bottom: 1px solid #515151;
  margin-bottom: 10px;
}

.settings-box .settings-colors {
  margin: 0 -5px 10px -5px;
}

.settings-box .settings-colors a {
  width: 30px;
  height: 30px;
  border: 3px solid transparent;
  float: left;
  margin: 0 5px 10px 5px;
}

.settings-box .settings-colors a:hover {
  border-color: #fff !important;
}

.settings-box .settings-colors a.active {
  border-color: #ff0000 !important;
}


/* -------------------*
 *         IE         *
 *------------------- */

.clearfix {
  zoom: 1\9;
}


/* -------------------*
 *     RESPONSIVE     *
 *------------------- */

@media all and (max-width: 1149px) {
  .scroll-top {
    display: none;
  }
}

@media all and (max-width: 991px) {
  header .navbar-text, footer .footer-text {
    display: none;
  }
  .content, aside {
    width: 100%;
  }
  header .navbar nav > ul.nav > li > a {
    font-size: 1em;
    font-weight: 400;
  }
  header .navbar nav > ul.nav > li ul a {
    font-size: 0.9em;
  }
  .jumbotron aside {
    width: 100%;
    border-left: 0;
    padding: 10px 0 0 0;
  }
  .jumbotron aside .product-box {
    width: 350px;
    float: right;
  }
  .jumbotron aside .product-box:first-child {
    float: left;
  }
  main .content {
    padding-bottom: 20px;
  }
  .detail-img img {
    width: 100%;
    height: auto;
  }
  .articles-slider-box .product-box {
    width: 350px;
  }
}

@media all and (max-width: 767px) {
  img {
    max-width: 100%;
    height: auto;
  }
  .navbar-brand {
    float: none;
    display: inline-block;
    margin: 0 0 10px 0;
    text-align: left;
  }
  header {
    text-align: center;
  }
  header .navbar-header {
    padding: 20px 0;
    margin: 0 !important;
  }
  header .search-form {
    width: 100%;
    margin: 0;
  }
  .navbar-collapse {
    clear: both;
  }
  header .navbar nav > ul.nav > li > a {
    margin: 0;
    text-align: left;
    padding: 10px 15px;
    white-space: normal;
  }
  header .navbar nav .dropdown-menu {
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    margin-bottom: 10px;
  }
  .jumbotron aside {
    padding: 0;
  }
  .jumbotron aside .product-box {
    width: 100%;
  }
  .jumbotron aside .product-box-sm {
    margin-bottom: 0px;
  }
  .jumbotron .product-box {
    margin-bottom: 10px;
  }
  .product-box .product-box-info {
    padding: 10px !important;
  }
  .product-box .stars, .product-box .product-img {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    margin-bottom: 10px !important;
    display: block !important;
  }
  .product-box-icons {
    text-align: center;
  }
  .product-box-icons img {
    float: none;
    margin: 0 15px 10px 15px;
  }
  aside .product-box.product-box-sm .product-box-info {
    min-height: 120px;
  }
  main .social-icons a {
    margin: 0 2px 5px 2px;
  }
  .content .table-responsive table {
    margin-bottom: 0;
  }
  .content .table-responsive table td {
    padding: 5px;
    white-space: nowrap;
  }
  .btn {
    white-space: normal !important;
  }
  footer {
    text-align: center !important;
  }
  footer .footer-links {
    padding: 20px 0;
  }
  footer .footer-copy {
    padding: 15px 0;
  }
  .articles-slider-box .articles-slider-out, .articles-slider-box .articles-slider {
    width: 215px;
    margin: 0 auto;
  }
  .articles-slider-box .product-box {
    width: 230px;
  }
  .img-left, .img-right {
    float: none;
    margin: 0 0 15px 0;
  }
  .box-404 h1 {
    font-size: 100px;
  }
}

@media all and (max-width: 480px) {
  .navbar-brand small {
    display: none;
  }
  .social-icons a {
    width: 40px;
    height: 40px;
  }
}


/*ratings*/

.yasr_table_multi_set_shortcode {
  padding: 10px 10px 1px 10px;
  margin: 30px 0 0 0;
  border: 3px solid #efefef;
}

.yasr-multi-set-name-field {
  font-weight: bold;
  font-size: 16px;
}

.yasr-visitor-multiset-message {
  color: #5BA835;
  text-align: center;
  font-weight: bold;
  display: block;
  padding: 15px;
}


/*search box*/

.search-box .query-search {
  font-weight: 300;
  font-size: 24px;
}



/*content headlines*/

.content h2, .content h3, .content h4 {
  margin: 30px 0;
}


/*remove headline margin in box offset*/

.border-box h2, .border-box h3, .border-box h4, .box-offset h2, .box-offset h3, .box-offset h4 {
  margin: 0 0 15px 0;
}

.cols-advantages h4 {
  margin: 0 0 15px 0;
}


/* pagination */ 
.wp-pagenavi  {
  text-align: center;
}

.wp-pagenavi a,
.wp-pagenavi .current {
  background: #fff;
  border: 2px solid #ccc;
  color: #939292;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.2s;
  display: inline-block;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-align: center;
}

.wp-pagenavi a:hover,
.wp-pagenavi span.current {
  text-decoration: none;
  background: #ddd;
  border-color: #ccc;
  color: #fff;
}

.wp-pagenavi span.current {
  background: #ccc;
}

.wp-pagenavi .pages {
  display: none;
}

/*chrome fonts fix*/

body {
  -webkit-animation-delay: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-duration: 0.1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fontfix {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
