/* -------------------*
*       GLOBAL        *
*------------------- */

/* font size and family
----------------------------------------- */
body,
input,
select,
textarea,
button { font-size:13px; font-family:"Roboto", Helvetica, Arial, sans-serif; }

/* headlines
----------------------------------------- */
h1, .h1 { font-size:32px; font-weight:500; }
h2, .h2 { font-size:24px; font-weight:500; }
h3, .h3 { font-size:20.8px; font-weight:500; }
h4, .h4 { font-size:16px; font-weight:500; }
h5, .h5 { font-size:12.8px; font-weight:500; }
h6, .h6 { font-size:11.2px; font-weight:500; }

/* header
----------------------------------------- */
header .navbar-text strong { font-size:15px; }

/* navigation
----------------------------------------- */
header .navbar nav > ul.nav > li > a { font-size:15px; font-weight:500; }

/* aside
----------------------------------------- */
aside .aside-title { font-size:15px; font-weight:700; text-transform:uppercase; }

/* footer
----------------------------------------- */
footer .footer-copy { font-size:12px; }

/* blockquote
---------------------------------------- */
blockquote p { font-size:13px; font-style:italic; }
blockquote cite { font-size:13px; font-style:normal; font-weight:700; }

/* product box
---------------------------------------- */
.detail-img .label,
.product-box .product-img .label { font-size:14px; text-transform:uppercase; font-weight:700; }
.product-box.product-box-lg .label { font-size:16px; }
.product-box.product-box-sm .label { font-size:12px; }

/* listing
----------------------------------------- */
ul.category-list li a { font-size:15px; }
ul.contact-info { font-size:16px; }

/* tooltip
----------------------------------------- */
.tooltip .tooltip-inner { font-size:13px; }

/* reviews table
----------------------------------------- */
.reviews-table th { font-size:32px; font-weight:500; }
.reviews-table .btn { font-size:16px; font-weight:700; }

/* advantages / disadvantages
----------------------------------------- */
.cols-advantages ul { font-size:14px; }

/* comments
----------------------------------------- */
.comments-form .form-control { font-size:13px; }
.comments-list .comment-name { font-size:16px; }

/* meta info
----------------------------------------- */
.meta-info li { font-size:12px; }

/* slider
----------------------------------------- */
.articles-slider-box .product-box h5 { font-size:15px; }

/* buttons
----------------------------------------- */
.btn { font-size:12px; font-weight:700; text-transform:uppercase; }
.btn.btn-md { font-size:14px; }
.btn.btn-lg { font-size:20px; }

/* products box
----------------------------------------- */
.product-box-sm p,
.jumbotron .product-box-sm p { font-size:12px; }
.product-box p { font-weight:300; }