/* -------------------*
*    THEME COLORS    *
*------------------- */

/* global color
----------------------------------------- */
a,
.color,
.reviews-table .btn,
.jumbotron .jumbotron-title { color:#5ba835; }

.scroll-top,
.bg-color,
.btn.btn-primary { background-color:#5ba835; }

header,
.reviews-table tr.second-highlight-row td,
.reviews-table tr.second-highlight-row th { border-color:#5ba835; }
ul.category-list li:after { border-left-color:#5ba835; }

a:hover,
.reviews-table .btn:hover { color:#41871e; }
.scroll-top,
.reviews-table,
.reviews-table tr.first-highlight-row td,
.reviews-table tr.first-highlight-row th { border-color:#41871e; }

.scroll-top:hover { background-color:#41871e; }

/* labels
----------------------------------------- */
.label-color01 { background-color:#22a7f0; }
.label-color02 { background-color:#f1be03; }
.label-color03 { background-color:#680ea6; }
.label-color04 { background-color:#9e067f; }
.label-color05 { background-color:#08253f; }
.label-color06 { background-color:#e11414; }
.label-color07 { background-color:#000000; }

/* buttons
----------------------------------------- */
.btn.btn-primary:focus,
.btn.btn-primary:hover { background:#447e28; border-color:#32601b; }
.btn-primary.btn-border-bottom { border-bottom-color:#447e28; }

.btn.btn-border { background:#fff; border:2px solid #5ba835; }
.btn.btn-border:hover { color:#fff; }