/* -------------------*
*    THEME COLORS    *
*------------------- */

/* global color
----------------------------------------- */
a,
.color,
.reviews-table .btn,
.jumbotron .jumbotron-title {
  color: #563d7c;
}

.scroll-top,
.bg-color,
.btn.btn-primary {
  background-color: #563d7c;
}

header,
.reviews-table tr.second-highlight-row td,
.reviews-table tr.second-highlight-row th {
  border-color: #563d7c;
}

ul.category-list li:after, .cat-item:after {
  border-left-color: #563d7c;
}

a:hover,
.reviews-table .btn:hover {
  color: #3b235f;
}

.scroll-top,
.reviews-table,
.reviews-table tr.first-highlight-row td,
.reviews-table tr.first-highlight-row th {
  border-color: #3b235f;
}

.scroll-top:hover {
  background-color: #3b235f;
}

/* labels
----------------------------------------- */
.label-color01 {
  background-color: #22a7f0;
}

.label-color02 {
  background-color: #f1be03;
}

.label-color03 {
  background-color: #680ea6;
}

.label-color04 {
  background-color: #9e067f;
}

.label-color05 {
  background-color: #08253f;
}

.label-color06 {
  background-color: #e11414;
}

.label-color07 {
  background-color: #000000;
}

/* buttons
----------------------------------------- */
.btn.btn-primary:focus,
.btn.btn-primary:hover {
  background: #3b235f;
  border-color: #3b235f;
}

.btn-primary.btn-border-bottom {
  border-bottom-color: #3b235f;
}

.btn.btn-border {
  background: #fff;
  color: #563d7c;
  border: 2px solid #563d7c;
}

.btn.btn-border:hover {
  color: #fff;
}